<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 mt-6">
            <img src="https://www.seriouseats.com/thmb/prWViHHxlEcYDNr4UyxwlxxufZM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2017__09__20170825-artichokes-ala-romana-vicky-wasik-3-2-1073d669511d4679a251bc77a8bdf44b.jpg"
                alt="alcachofa" style="width: 100%">

            <div class="ingredient-box">
                <h3 class="mt-4"><strong>Ingredients:</strong></h3>
                <ul>
                    <li>juice of lemon - 3 </li>
                    <li>chickpeas - 3 cups</li>
                    <li> garlic - 2 cloves</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <h1 class="mt-6">ALCACHOFAS BLABLA</h1>
            <div class="col-md-6">
                <div class="extra-info">
                    <div class="extra-info-text mt-6">
                        <p>
                            <img class="extra-info-img" src="././public/images/clock-png-5.png" alt="clock logo"
                                style="width: 15px;">
                            Ready in: 45 minutes
                        </p>
                        <hr>
                        <p>
                            <img class="extra-info-img"
                                src=".././public/images/png-transparent-fork-and-spoon-logo-knife-fork-spoon-kitchen-utensil-plate-restaurant-logo-logo-black-and-white-symbol.png"
                                alt="fork and spoon logo" style="width: 15px;">
                            Servings: 8
                            <hr>
                        </p>
                        <p>Diets: gluten free, dairy free, lacto ovo vegetarian, vegan</p>
                    </div>
                </div>
            </div>

            <div class="instructions mt-7">
                <h3>INSTRUCTIONS</h3>
                <p>Rinse the chickpeas and soak for 8 hours or overnight in several inches of water. Drain and
                    rinse,
                    then transfer to a
                    medium saucepan and cover with fresh water. Bring to a boil, reduce heat to medium-low, cover,
                    and
                    simmer for 1 to 1 1/2
                    hours or until soft. Drain, reserving the cooking liquid. If using canned chickpeas, rinse
                    thoroughly.Meanwhile, toast
                    the pine nuts in a dry unoiled skillet or saucepan over medium-low heat, tossing or stirring
                    frequently, for 10 minutes
                    or until lightly browned.Transfer the chickpeas to a food processor and add the pine nuts, 2
                    tablespoons of olive oil,
                    te leftover hummus for a few days or freeze for up to a month.</p>
            </div>
        </div>
    </div>
</div>





router.get('/', (req, res, next) => {

const { ingredients } = req.query

const promise = ingredients ? recipeApiHandler.searchByIngredient(ingredients) : recipeApiHandler.getAllRecipes()

promise
.then(response => {
res.render('recipes/recipes-list', { recipes: response.data })
})
.catch(err => next(err))
})