<div class="container">

    <div class="row justify-content-center mt-8">

        <div class="col-md-6 mt-8">
            <h1>Search by ingredient</h1>

            <form action="/recipes" method="GET">
                <div class="form-group row mt-3">
                    <div class="col-md-6">
                        <input type="text" id="ingredients" name="ingredients" class="form-control"
                            placeholder="Type your ingredient">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="container">

    <div class="row mt-5">

        <div class="col-md-5 mt-6">
            <img src="https://www.seriouseats.com/thmb/prWViHHxlEcYDNr4UyxwlxxufZM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2017__09__20170825-artichokes-ala-romana-vicky-wasik-3-2-1073d669511d4679a251bc77a8bdf44b.jpg"
                alt="alcachofa" style="width: 100%">

            <div class="ingredient-box">
                <h3 class="mt-4"><strong>Ingredients:</strong></h3>
                <ul>
                    <li>juice of lemon - 3 </li>
                    <li>chickpeas - 3 cups</li>
                    <li> garlic - 2 cloves</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">

            <h1 class="mt-6">ALCACHOFAS BLABLA</h1>

            <div class="col-md-6">
                <div class="facts-table">
                    <h2 class="mt-4"><strong>Extra info:</strong></h2>
                </div>
                <div class="col-md-6 ml-4">
                    <p> Ready in: 45 minutes</p>
                    <hr>
                    <p> Servings: 8</p>
                    <hr>
                    <p> Diets: gluten free,dairy free,lacto ovo vegetarian,vegan</p>
                </div>
            </div>

            <div class="instructions mt-7">
                <h3>INSTRUCTIONS</h3>
                <p>Rinse the chickpeas and soak for 8 hours or overnight in several inches of water. Drain and rinse,
                    then transfer to a
                    medium saucepan and cover with fresh water. Bring to a boil, reduce heat to medium-low, cover, and
                    simmer for 1 to 1 1/2
                    hours or until soft. Drain, reserving the cooking liquid. If using canned chickpeas, rinse
                    thoroughly.Meanwhile, toast
                    the pine nuts in a dry unoiled skillet or saucepan over medium-low heat, tossing or stirring
                    frequently, for 10 minutes
                    or until lightly browned.Transfer the chickpeas to a food processor and add the pine nuts, 2
                    tablespoons of olive oil,
                    te leftover hummus for a few days or freeze for up to a month.</p>
            </div>

        </div>
    </div>

</div>