<div class="container">
    <h1>Recetas super chulis</h1>

    <div class="recipes-list mt-5">
        <ul>
            {{#each recipes}}
            <li> {{title}} </li>
            {{/each}}
        </ul>
    </div>
</div>

<p>
    hola este es mi cambio de archivo (Cristian)
</p>  
