<body class="chefs-list">

    <div class="container">

        <h1>Our chefs</h1>

        <div class="row">

            {{#each chefs}}

            <div class="card col-3 mt-2">

                <div>
                    <img src="{{profileImage}}" class="card-img-top" alt="chef profile picture">
                </div>

                <div class="card-body">
                    <a href="/chefs/{{id}}" class="card-chef-list-title"><strong>{{userName}}</strong></a>
                </div>

                <h5 class=""><strong>{{title}}</strong> </h5>

            </div>

            {{/each}}
        </div>

    </div>

</body>