<body class="chefs-list">

    <div class="container">
        <h1>Our chefs</h1>

        <h2>ALGO POR AQUÍ?</h2>

        <div class="row">
            {{userName}}

            {{#each chefs}}

            <div class="col-3 mt-2">
                <div>
                    <img class="card-img-top" src="{{profileImage}}" alt="profile-pic">
                </div>

                <a href="/chefs/{{id}}" class="chef-title"><strong>{{userName}}</strong></a>

            </div>

            {{/each}}

        </div>

    </div>
</body>